.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.dice_roll{
  height: 50px;
  width: 100%;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.dice_roll .button{
  background-color: #4ECCA3;
  height: 38px;
  width: 100px;
  border: 3px solid #EEEEEE;
  border-radius: 15px;
  color: rgb(3, 18, 30);
  font-size: large;
  font-weight: 700;
  font-family: cursive;
}

.dice_roll .button:hover{
  background-color: #3DAB8B;
  height: 43px;
  width: 105px;

}